body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: peachpuff;
height: 100vh;
}

header {
background-color: #ed9262;
color: white;
text-align: center;
padding: 20px; 
}

h1 {
font-size: 2em; 
margin: 0;
}

section {
padding: 2rem; 
}

.contenido {
width: 50%; 
margin: 0 auto;
background-color: papayawhip;
padding: 20px;
border-radius: 8px;
}

.texto {
font-size: 1rem; 
line-height: 1.5; 
}


.caja {
width: 60%; 
margin: 20px auto;
padding: 15px;
background-color: salmon;
color: white;
text-align: center;
}

.caja p {
font-size: 1.2em; 
}

.footer {
text-align: center;
padding: 10px;
background-color: sandybrown;
color: white;
}